[Unit]
Wants=network.target
After=network.target
StartLimitIntervalSec=0

[Service]
ProtectHome=true
ProtectSystem=true
ReadWritePaths=/data /var/log
ExecStart=/bin/zstor \
  --log_file /var/log/zstor.log \
  -c /etc/zstor-default.toml \
  monitor
Restart=always
RestartSec=100ms
TimeoutStopSec=5m

[Install]
WantedBy=multi-user.target
