[Unit]
Wants=network.target zstor.service
After=network.target zstor.service

[Service]
PrivateMounts=no
ExecStart=/usr/local/bin/zdbfs \
    {{.QsfsMountpoint}} \
    -o autons \
    -o size={{.ZdbfsSize}}

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
