exec: |
  /usr/local/bin/zdb
    --index {{.ZdbRootPath}}/index
    --data {{.ZdbRootPath}}/data
    --logfile /var/log/zdb.log
    --datasize {{.ZdbDataSize}}
    --hook /usr/local/bin/quantumd-hook \
    --rotate {{.ZdbRotateTime.Seconds}}

shutdown_timeout: 60
after: [zstor, quantumd]
